.container {
    max-width: 150ch;
    margin: 0 auto;
    background: #fff;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

hr {
    max-width: 10ch;
    margin: 2em auto;
    border: 1px solid #ccc;
}

header, footer {
    text-align: center;
}

header p, footer p {
    color: #999;
}

header h1 {
    padding-bottom: 0.5rem;
}

header p {
    max-width: 50ch;
    margin: 0 auto;
    font-style: italic;
}

main {
    display: flex;
    gap: 2em;
    padding: 1em 2em;
}

footer p {
    max-width: 100ch;
    margin: 0 auto;
    
}