
html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

p, ol, ul {
    padding-bottom: 1.5rem;
}

ol, ul {
    padding-left: 1.5rem;
}

ul > li {
    list-style-type: square;
}



h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, serif;
}

blockquote{
    padding-left: 1.5rem;
    border-left: 5px solid rgb(0, 0, 0, 0.4);
    font-style: italic;
    margin: 0 2em;
    margin-bottom: 1.5rem;
}

blockquote p:last-child{
    padding-bottom: 0;
}

blockquote .author{
    text-align: right;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 1.5rem 0;
}

table{
    width: 100%;
    margin: 1.5rem 0;
    border-collapse: collapse;
}

table, 
table th, 
table td{
    border: 1px solid #ccc;
}

table th,
table td {
    padding: 1em 1.2em;
 }

table thead th{
    text-align: left;
    background: #ddd;
}

table tbody tr:nth-child(odd) td {
    background: #eee;
}
