div {
    border: 2px solid black;
    padding: 1em 2em;
    margin-bottom: 2em;
}
div.uniform-padding{
    padding: 20px;
}

div.non-uniform-padding {
    padding: 10xp 30px 20px 40px;
}

div.percentage-padding {
    padding: 5%;
}