h1 {
    color: aqua;
}

#main-title {
    color: blueviolet;
}
#special-paragraph{
    font-style: italic;
}

p {
    font-size: 18px;
}

.highlight {
    background-color: bisque;
}

li {
    list-style-type: circle;
}
div {
     background-color: blueviolet;
}
